@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:wght@200;300;400;600&family=Roboto+Slab:wght@300;400&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0px;
    padding: 0px;
}

nav{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 70px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 45px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.container{
    min-height: 58vh;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 70%;
    margin: 4px auto;
    border-radius: 5px;
    padding: 34px;
    background-image: url('bg.jpeg');
    background-size: cover;
}

.bottom{
    position: sticky;
    height: 135px;
    background-color: black;
    color: white;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
     
}

.icons{
    display: flex;
    margin-top: 15px;
    
    margin-left: 670px;
}

.icons{
    cursor: pointer;
    
}

#myProgressBar{
    display: flex;
    width: 82vw;
    margin:9px 135px;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 30px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;

}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    right: 50.5vw;
    bottom: 1vh;
}
.songInfo img{
    opacity: 1;
    transition: opacity 1s ease-in;
}